@font-face {
  font-family: "Bosk";
  src: url("./assets/Bosk.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Bosk", Arial, Helvetica, sans-serif;
  --endscreen-colour: rgba(248, 248, 255, 0.959);
  --text-color: rgb(56, 56, 56);
  color: var(--text-color);
}

body {
  background-color: #d8e2dc;
  min-height: 100vh;
}

.hidden {
  display: none;
}

/* End Screen */

.end-screen {
  position: fixed;
  left: calc(50vw - 200px);
  z-index: 1;
  background-color: var(--endscreen-colour);
  width: 400px;
  height: 85vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-screen h1 {
  font-size: 4rem;
  margin-top: 100px;
}

.end-screen h3 {
  font-size: 2rem;
  margin-bottom: 50px;
}

.end-screen .result {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(189, 189, 189);
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-screen p {
  font-size: 30px;
}

.end-screen span {
  font-size: 25px;
}

.end-screen button {
  margin-top: 80px;
}

.wedges {
  position: fixed;
  left: calc(50vw - 200px);
  top: 85vh;
  z-index: 2;
  width: 400px;
  display: flex;
}

.wedge-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 200px 0 0;
  border-color: var(--endscreen-colour) transparent transparent transparent;
}

.wedge-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 50px 0;
  border-color: transparent var(--endscreen-colour) transparent transparent;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main h1 {
  margin-top: 50px;
  font-size: 5rem;
}

.restart {
  font-family: inherit;
  color: var(--text-color);
  width: 150px;
  height: 40px;
  font-size: 26px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  background-color: #cacbff;
  box-shadow: 3px 3px #acb1f4;
}

.restart:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.main .play-vs-computer {
  font-family: inherit;
  margin-top: 10px;
  font-size: 20px;
  width: 150px;
  height: 30px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  color: var(--text-color);
  background-color: #d9ffca;
  box-shadow: 3px 3px #8ec581;
}

.main .play-vs-computer:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.main .play-vs-computer.hidden {
  visibility: hidden;
  display: block;
}

.main .players {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px 0 10px;
  font-size: 2rem;
}

.main .players .next-player {
  color: rgba(56, 56, 56, 0.329);
}

.main .players h3 {
  font-size: 2rem;
}

.main .players input {
  background-color: ghostwhite;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  padding: 0 20px;
  font-size: 25px;
  font-family: inherit;
  color: var(--text-color);
  text-align: center;
}

.main .players input:disabled {
  background-color: rgb(209, 209, 209);
}

.main .players button {
  width: 40px;
  height: 40px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  box-shadow: 2px 2px rgb(134, 134, 134);
  background-color: ghostwhite;
}

.main .players button:hover {
  transform: translate(1px, 1px);
  box-shadow: none;
}

.main .players img {
  width: 70%;
  height: auto;
}

/* Game Board */
.game-board {
  width: 50vw;
  height: 50vw;
  max-width: 50vh;
  max-height: 50vh;
  min-width: 300px;
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  background-color: #ffe5d9;
  padding: 20px 25px 25px 20px;
  border: 1px solid rgb(161, 122, 13);
  border-radius: 12px;
}

.game-board.disabled {
  background-color: #e7e7e7;
  border: 1px solid rgb(150, 150, 150);
  padding: 24px 21px 21px 24px;
}

.cell {
  border: 1px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 12px;
  background-color: #ffcad4;
  box-shadow: 5px 5px #f4acb7;
  font-size: 4rem;
}

.cell:hover,
.cell:focus {
  transform: translate(4px, 4px);
  box-shadow: none;
}

.cell.disabled {
  background-color: rgb(170, 170, 170);
  box-shadow: none;
}

.cell.disabled:hover,
.cell.disabled:focus {
  transform: none;
}